
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    list-style: none;
    display: grid;
    gap: 1rem;
    padding: 0;

}

.logo{
    display: grid;
    max-width: 100%;
    height: auto;
    align-items: center;
}

.container{
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}

img{
    max-width: 100%;
}