body{
    margin: 0;
    color: black;
    font-family: sans-serif;
}

.logo{
    width: min(15%);
}

.container{
    width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

header{
display: flex;
background-color: black;
justify-content: space-between;
padding-left: 3rem;
padding-right: 3rem;
padding-top: 1rem;
font-size: 1.2rem;
padding-bottom: 1rem;
}

nav > ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-top: 1.5rem;
    padding-left: 0;
}

main{
    font-size: 1.05rem;
    display: grid;
}

main > h1{
    font-size: 2.5rem;
    margin-inline: auto;
}

main > li{
    display: flex;
    gap: 1rem;
    list-style: none;
}
main > h3{
    margin: 0;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

main > h4{
    margin: 0;
    margin-bottom: 0.5rem;
}